<nav class="navbar navbar-dark navbar-expand-md fixed-top bg-faded justify-content-center bg-nav-purple">
    <a href="#" class="navbar-brand d-flex w-50 mr-auto">
      <img src=<%= asset_path("ss_icon.svg") %> width="45" height="45" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
        <ul class="navbar-nav w-100 justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="#">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cocktails</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Recipes</a>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto w-100 justify-content-end">
            <%= login_helper %>
        </ul>
    </div>
</nav>
