/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body { padding-top: 70px; }

.debug-info { background-color: #bbb; }

.bg-nav-purple { background-color: #501378; }

.category-news-wrapper {
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr;
  // grid-row-gap: 2em;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  flex-flow: column;
}

.saz-flash-msg {
  margin-bottom: 0;
  border-radius: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 7000;
}

.moo { margin: inherit; }

.no-pad { padding: 0; }
